<% layout('layout/boilerplate') %>
<head>
  <meta charset="UTF-8">
  <title>Sidra Waqar Enterprises LLC</title>
  <meta name="description" content="Sidra Waqar Enterprises LLC is a trusted leader in land surveying and contracting in Oman, delivering accurate, reliable, and high-quality results using advanced technology.">
</head>

<link rel="stylesheet" href="/css/home.css">
<section class="header">
    <h1 class="heading display-3 fw-normal text-dark">Surveying Solutions <br> Built on Trust</h1>
    <div class="mt-5">
        <div class="button-div">
          <a href="/contact" class="btn btn-dark btn-lg blue-button">GET IN TOUCH</a>
        </div>
        <div class="button-div">
          <a href="/services" class="btn btn-outline-light btn-lg" style="border-radius: 0; margin-bottom: 10px;">SERVICES</a>
        </div>
    </div>
</section>

<section class="about container">
  <div class="row">
    <div class="col-lg pb-5">
      <h1 class="h5" style="color: #1E3A8A;">ABOUT US</h1>
      <h2 class="h3" style="font-weight: 400; font-size: xx-large;">Precision. Reliability. Innovation in Every Measurement.</h2>
      <p>At Sidra Waqar Enterprise LLC, we deliver accurate and reliable surveying solutions that empower smarter planning and stronger projects. From land development to construction and infrastructure, we combine advanced technology with years of expertise—turning data into clear, actionable insights for confident decision-making.</p>
      <a href="/about" class="btn btn-dark btn-sm blue-button">READ MORE</a>
    </div>
    <div class="col mb-3" style="background-image: url(/images/about.jpg); min-height: 300px; width: auto; padding: 100px; background-position: center; background-repeat: no-repeat; background-size: cover; border-radius: 10px;">
    </div>
  </div>
</section>

<section class="services p-5"">
  <div class="row">
    <div class="col">
      <h1 class="h5" style="color: #1E3A8A;">OUR SERVICES</h1>
      <h2 style="font-weight: 400; font-size: xx-large;">Turning Your Vision <br> Into Reality </h2>
    </div>
    <div class="col-md pt-3">
       <p>At Sidra Waqar Enterprise LLC, we provide trusted surveying solutions that empower landowners, developers, and builders to make informed decisions with confidence. Our expertise, combined with modern technology, ensures every project starts on solid ground.</p>
    </div>
  </div>
<div class="row text-center" style="height: auto">
  <div class="col-lg">
    <div class="c-1 service-box">
      <img src="/images/surveying.png" style="height: 120px; width: 120px; margin-left: auto; margin-right: auto;" alt="">
      <h4 class="h3 pt-3">Land, Boundary & Construction Surveys</h4>
      <p>Define property lines with accuracy and eliminate disputes before they arise.</p>
      <div class="btn-wrapper">
        <a href="/services" class="btn btn-dark blue-button">READ MORE &rarr;</a>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="c-2 service-box">
      <img src="/images/rig.png" style="height: 120px; width: 120px; margin-left: auto; margin-right: auto;" alt="">
      <h4 class="h3 pt-3">Oil & Gas Surveys</h4>
      <p>Delivering precise mapping and site analysis to support safe, efficient, and cost-effective exploration in the oil and gas sector.</p>
      <div class="btn-wrapper">
        <a href="/services" class="btn btn-dark blue-button">READ MORE &rarr;</a>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="c-3 service-box">
      <img src="/images/drone.png" style="height: 120px; width: 120px; margin-left: auto; margin-right: auto;" alt="">
      <h4 class="h3 pt-2">Drone Surveys</h4>
      <p>High-precision aerial mapping and imagery to capture detailed site data quickly and efficiently.</p>
      <div class="btn-wrapper">
        <a href="/services" class="btn btn-dark blue-button">READ MORE &rarr;</a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row text-center" style="height: auto">
  <div class="col-lg">
    <div class="c-3 service-box">
      <img src="/images/drone.png" style="height: 120px; width: 120px; margin-left: auto; margin-right: auto;" alt="">
      <h4 class="h3 pt-2">Drone Surveys</h4>
      <p>High-precision aerial mapping and imagery to capture detailed site data quickly and efficiently.</p>
      <div class="btn-wrapper">
        <a href="" class="btn btn-dark blue-button">READ MORE &rarr;</a>
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="c-2 service-box">
      <img src="/images/3d-scanner.png" style="height: 120px; width: 120px; margin-left: auto; margin-right: auto;" alt="">
      <h4 class="h3 pt-3">Construction & Engineering Surveys</h4>
      <p>From site preparation to final inspection, we deliver precise measurements that keep your project on track.</p>
      <div class="btn-wrapper">
        <a href="" class="btn btn-dark blue-button">READ MORE &rarr;</a>
      </div>
    </div>
  </div>
</div> -->
</section>
<section class="achievements container">
  <div class="row">
    <div class="col-1-of-2">
      <h1 class="h5" style="color: #1E3A8A;">WHY CHOOSE US</h1>
      <!-- <h2>Our Achievements Define Our Commitment</h2> -->
      <p>At Sidra Waqar Enterprise LLC, we know that precision and trust are the foundation of every successful project. Whether it’s land surveying, construction support, or advanced drone mapping, we bring a modern, reliable, and client-focused approach to every service we deliver.</p>
      <p>
        <ul>
          <li><b>Unmatched Accuracy</b> – We use cutting-edge technology to provide precise and dependable results every time.</li>
          <li><b>Innovation at Work</b> – From drone surveys to 3D scanning, we integrate the latest tools to make projects faster and smarter.</li>
          <li><b>Client-Centered Approach</b> – Your goals are our priority; we tailor solutions to meet your exact needs.</li>
          <li><b>Trusted Reliability</b> – With a commitment to professionalism and quality, we ensure every project is handled with care.</li>
        </ul>
      </p>
    </div>
    <div class="col-1-of-2" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/multipleImages.png); background-position: center; background-size: cover; border-radius: 5px;  padding-top: auto; padding-bottom: auto;">
      <div style="height: auto; width: 100%; margin: 50px; border-left: 5px solid #1E3A8A;">
        <p class="display-5 fw-bold text-light">Designing,<br> Building,<br> Inspiring</p>
      </div>
    </div>
  </div>
</section>

<section class="services mb-0 pb-5 pt-5">
  <section class="container">
  <div class="row">
      <h1 class="h5" style="color: #1E3A8A;">CONTACT US</h1>
      <h2 class="display-6">Ready to start your project? <br> Let’s talk today!</h2>
      <a href="/contact" class="btn btn-dark btn-lg blue-button">REQUEST A QUOTE!</a>
  </div>
  </section>
</section>

<!-- <section class="quote-sec"> 
      <div class="quote text-center">
        <div class="row">
          <div class="col-1-of-3"><h5 style="font-size: 8rem; font-weight: 300;">20</h5><br><p>YEARS OF EXPERIENCE</p></div>
          <div class="col-1-of-3"><h5 style="font-size: 8rem; font-weight: 300;">+2K</h5><br><p>PROJECTS</p></div>
          <div class="col-1-of-3"><h5 style="font-size: 8rem; font-weight: 300;">05</h5><br><p>BRANCHES ACROSS THE WORLD</p></div>
        </div>
</section> -->
